In [ ]:
a=5
print(a)

5

In [ ]:
#6 table
a=6
for i in range(1,11):
  print(a,"*",i,"=",a*i)

6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

In [ ]:
#variable and print
a=5
print("I am",a,"years old")

I am 5 years old

In [ ]:
#arithmetic
a=5
b=25
print(a+b)

30

In [ ]:
#power
print(2**4)

16

In [ ]:
#floor division
print(25//2)

12

In [ ]:
#relational operator
a=6
b=6
print(a==b)
print(a>b)
print(a<b)
print(a!=b)
print(a>=b)
print(a<=b)

True
False
False
False
True
True

In [ ]:
#conditional if
#write a program to get a number from the user and check whether it is positive or negative
a=int(input("Enter a number:"))
print(type(a))

Enter a number:5
<class 'int'>

In [ ]:
#logical operator
a=9
b=25
print((a>b) and (a<b))#false and true
print((a>b) or (a<b))#false or true

False
True

In [ ]:
#membership
a="pirate"
print("a" not in a)
print("a" in a)

False
True

In [ ]:
#conditional if
a=int(input("Enter a number:"))
if(a>0):
  print("a is positive")
else:
  print("a is negative")

Enter a number:5
a is positive

In [ ]:
#conditional if elif
a=int(input("Enter a number:"))
if(a>0):
  print("a is positive")
elif(a==0):
  print("a is equal to zero")
else:
  print("a is negative")

Enter a number:0
a is equal to zero

In [ ]:
#while loop
n=int(input("Enter a number:"))
i=1
while(i<=10):
  print(n*i)
  i=i+1

Enter a number:5
5
10
15
20
25
30
35
40
45
50

In [ ]:
#typecasting implicit
a=12.6   #float
b=4      #int
print(a*b)     #interpreter automatically taken the output as float

50.4

In [ ]:
#typecasting explicit
a=12.6   #float
b=4      #int
print(int(a*b))     #user

50

In [ ]:
a="45"
int(a)
print(type(a))

<class 'str'>

In [ ]:
a="45"
a=int(a)
print(type(a))

<class 'int'>

In [ ]:
#data slicing
a = "Python is easy"
print(a[0:6])   #start:stop:step

Python

In [ ]:
#data slicing reverse
a = "Python is easy"
print(a[::-1])   #start:stop:step

ysae si nohtyP

In [ ]:
#data slicing
a = "Python is easy"
print(a[::2])   #start:stop:step

Pto ses

List:
1.   List is a collection of elements
2.   Heterogenous
3.   Mutable(modifiable)

In [ ]:
#colletions List
list=[1,2,3,"a","b",5.6]
print(list)

[1, 2, 3, 'a', 'b', 5.6]

In [ ]:
for i in list:
  print(i)

1
2
3
a
b
5.6

In [ ]:
#appending
list.append(10)
print(list)

[1, 2, 3, 'a', 'b', 5.6, 10]

In [ ]:
#insert at specific index
list.insert(3,"p")         #list_name.insert(index,element)
print(list)

[1, 2, 3, 'p', 'a', 'b', 5.6, 10]

In [ ]:
#list adding
l1=[1,2,3]
l2=[4,5,6]
print(l1+l2)

[1, 2, 3, 4, 5, 6]

In [ ]:
#list adding
l1=[1,2,3]
l2=[4,5,6]
l1.extend(l2)
print(l1)
print(l2)

[1, 2, 3, 4, 5, 6]
[4, 5, 6]

In [ ]:
#list pop
l1=[1,2,3,4,5,6]
l1.pop(1)                  #list_name.pop(index_no)
print(l1)
l1.remove(5)               #list_name.remove(member element)
print(l1)

[1, 3, 4, 5, 6]
[1, 3, 4, 6]

In [ ]:
#min and max works for only numeric data types
l1=[1,6,2,9,5,0,22,8,4,26.9]
print(min(l1))       #min(list_name)
print(max(l1))       #max(list_name)

0
26.9

List Comprehension:


1.   Iterates
2.   Applies some function on every element
3.   Conditions
4.   Output : list

In [ ]:
l1=[2,4,6,8]
l2=[i*i for i in l1]   #[output iterate condition]
print(l2)

[4, 16, 36, 64]

In [ ]:
#list comp with condition
l1=[1,2,3,4,5,6,7,8,9]
l2=[i*i for i in l1 if i%3==0]   #[output iterate condition]
print(l2)

[9, 36, 81]

In [ ]:
l1=[45,67,89,90]
l2=[i**2 for i in l1 if i<60]
print(l2)

[2025]

In [ ]:
#the salaries of 5 employees in a company is taken as a list. The tax is 10% if the salary is less than or equal to 50000 or it is 15%
#create a new list with tx amounts
list=[67000 , 45000 , 89000 , 34000 , 50000]
tax=[]
for i in list:
  if i<=50000:
    t=i*0.1
  else:
    t=i*0.15
  tax.append(t)
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]

In [ ]:
#another method using condition
#the salaries of 5 employees in a company is taken as a list. The tax is 10% if the salary is less than or equal to 50000 or it is 15%
#create a new list with tx amounts
list=[67000 , 45000 , 89000 , 34000 , 50000]

#list_name = [ (body of if) if (condition) else (body of else) iterate ]

tax=[i*0.1 if i<=50000 else i*0.15 for i in list]
print(tax)

[10050.0, 4500.0, 13350.0, 3400.0, 5000.0]